﻿@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("SignOut", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">@Html.Label("Hello " + User.Identity.Name + "!")</a></li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()" ng-click="signout($event)">Leave chat</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Enter", "Login", "Account", routeValues: new { area = "Admin" }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
