﻿@{
    ViewBag.Title = "Chat";
}

<div class="row" ng-controller="ChatController">
    <div class="chat col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading panel-title">
                <span class="glyphicon glyphicon-comment"></span>
                Chat
            </div>
            <div class="panel-body" scroll-bottom="[messages, typing(contacts)]">
                <ul class="chat-history list-unstyled">
                    <li class="message clearfix fade" ng-repeat="message in messages"
                        ng-class="[message.status, message.type, message.author ? (iam.is(message.author) ? 'me' : 'they') : null, 'in']"
                        ng-cloak>
                        <img class="avatar" ng-show="message.author" />
                        <b ng-show="message.author">{{message.author.name}}:</b>
                        <span ng-class="[{true: 'user', false: 'system'}[!!message.author]]">{{message.text}}</span>
                    </li>
                    <li class="user-typing clearfix fade in" ng-repeat="contact in typing(contacts)" ng-cloak>
                        <span class="glyphicon glyphicon-pencil"></span> {{contact.name}} is typing...
                    </li>
                </ul>
            </div>
            <div class="panel-footer">
                <form class="input-group" ng-submit="sendMessage()">
                    <input type="text" class="message form-control" ng-disabled="loading" ng-model="inputMessage" placeholder="Write you message here..." autocomplete="off" autofocus="{{!loading}}" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-info" ng-disabled="inputMessage.trim() == ''">Send</button>
                    </span>
                </form>
            </div>
        </div>
    </div>
    <div class="contacts col-md-2 col-xs-6">
        <div class="panel panel-primary">
            <div class="panel-heading panel-title">
                <span class="glyphicon glyphicon-user"></span>
                Users
            </div>
            <div class="panel-body">
                <ul class="contacts-list list-unstyled" ng-cloak>
                    <li ng-repeat="contact in contacts">
                        <div class="label label-info">
                            <img class="small-avatar" />
                            {{contact.name}}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
