﻿@import "bootstrap/bootstrap.less";

/* #region BASE */

.body-content {
    margin: 100px 20px 50px;
}

ul.list-striped > li:nth-child(even) {
    background-color: #f9f9f9;
}

[ng\:cloak],[ng-cloak],.ng-cloak{
    display:none !important
}

/* #endregion */

/* #region CHAT */

#loginForm {
    margin-bottom: 100px;
}

.chat {
    .panel-body {
        height: 350px;
        overflow-y: auto;
    }

    .chat-history {
        .message {
            padding: 5px;
            width: 80%;
            clear: both;
            margin: 5px 0;
            border-radius: 5px;

            .system {
                font-style: italic;
            }
            .sending {
                opacity: 0.5;
            }

            &.me, &.me img.avatar {
                float: left;
                background-color: #66acef;
                color: white;
            }

            &.they, &.they img.avatar {
                float: right;
                background-color: #cbe3fb;
            }

            img.avatar {
                background: url(images/person-icon.jpg);
                background-size: contain;
                width: 40px;
                height: 40px;
                margin: 0 5px;
            }
        }
    }

    .user-typing {
        color: lightgray;
        clear: both;
    }
}

.contacts {
    min-width: 200px;

    .contacts-list {
        min-height: 50px;

        .label {
            font-size: 11pt;
            padding: 10px 15px;
            margin-bottom: 10px;
            text-align: left;
            display: block;
        }

        img.small-avatar {
            background: url(images/person-icon.jpg);
            background-size: contain;
            width: 20px;
            height: 20px;
        }
    }
}

/* #endregion */
