﻿@model WebChat.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <section id="loginForm" class="text-center">
            <h2>ENTER CHAT</h2>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-inline", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="input-group" style="width:100%">
                    <span class="input-group-addon">
                        @Html.LabelFor(m => m.Username, new { @class = "control-label" })
                    </span>
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", autofocus = "true" })
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-block" type="submit">Enter</button>
                    </span>
                </div>

                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger text-center" })
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
